<h3>Sobre Nosotros</h3>
<div class="panel panel-info">
	<div class="panel-heading">
		<h4 class="panel-title">
		    ClasiNuevos y Dactyl Mobile
		</h4>
	</div>
	<div id="" class="">
		<div class="panel-body">
			ClasiNuevos.com es un nuevo concepto de Clasificados de Bienes Raíces en Puerto Rico creado por la empresa <a href="http://www.dactylmobile.com" target="_blank">Dactyl Mobile</a>, fundada por Carlos Martínez y Nancy Roqué.
			ClasiNuevos.com busca organizar las propiedades existentes en Puerto Rico para facilitar tanto a compradores, como vendedores y "Realtors".  ClasiNuevos.com, utiliza 
			tecnología de avanzada para mantener un diseño de una sola página y así lograr una navegación sencilla y clara.<br><br>
			Nuestra Mision es proveerle a los usuarios una página central para todas las necesidades del mercado de Bienes Raíces, en una manera ordenada y sencilla, que pueda
			ayudar a promocionar de manera efectiva este tipo de propiedad.
		</div>
	</div>
</div>