<!-- PICTURE DROP PEKEUPLOAD -->    
<script src="/js/pekeUpload.js"></script>
<!-- PICTURE DROP FILEDROP 
<script src="/js/jquery.filedrop.js"></script>-->
<!-- PICTURE DROP DROPBOX  
<script src="/js/dropbox.js"></script>-->   
<!-- MY ACCOUNT -->    
<script src="/js/administ.js"></script>

<!-- PEKE FILE UPLOAD CSS -->
<link href="/css/peke.css" rel="stylesheet">
<!-- DROPBOX FILE UPLOAD CSS -->
<link href="/css/dropbox.css" rel="stylesheet">

<div class="panel panel-default">
	<div class="panel-body">

		<div id="administAccordion">
		
			<h3>Seleccione el Clasificado</h3>
			<div>
				<h3>Escriba el numero del Clasificado</h3>
				<div>
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="ClasiNum">Numero Clasificado</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control validate[custom[integer], min[1]" type="text" id="ClasiNum" name="ClasiNum" placeholder="Numero del Clasificado">
						</div>
						<!-- submitPublish -->
						<div id="">
							<div class="form-group">
								<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="submitClasi"></label>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">                                                
									<input id="submitClasi" class="btn btn-clasinuevos btn-large" type="button" name="submitClasi" value="Buscar">
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
			
			<h3>Editar Clasificado</h3>
			<div>
				<div id="classifiedChangeDrawer" class="hidden">
					<a id="classifiedChangeCloseBtn" href="#classifiedChangeDrawer" class="right nopaddingbottom smallpaddingright"><i class="icon-remove-sign icon-2x"></i></a>
					<div id="classifiedChangeData" class=""></div>
				</div>
			</div>
			
		</div>

	</div>
</div>