<!-- MORTGAGE CALC CSS -->
<link rel="stylesheet" type="text/css" href="/css/mortgage.css"/>
<!-- JQPLOT CSS -->
<link rel="stylesheet" type="text/css" href="/jqplot/jquery.jqplot.min.css"/>

<div class="panel panel-info">
	<div class="panel-heading">
		<h4 class="nomarginall text-center">
			<a id="closeCalc" href="#calcDrawer" class="right"><i class="icon-remove-sign icon-large"></i></a>
			<i class="icon-tablet icon-2x left iconAdjust"></i>
			<span class="hidden-xs">Calculadora de Hipotecas</span>
			<span class="visible-xs">Calculadora</span>
			
		</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-sm-9">
				<!--Div that will hold the pie chart-->
				<form class="form-horizontal" role="form" name="input" id="input">
					<div class="row marginCalc medpaddingbottom">
						<div class="form-group nomarginbottom">
							<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 text-right">
								<label for="principle" class="control-label"><h4 class="nomarginall hidden-xs">Préstamo $</h4><h5 class="nomarginall visible-xs">Préstamo $</h5></label>
							</div>
							<div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
								<input class="form-control" id="principle" name="principle" type="text" size="7" value="<%= price %>">
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div id="principleInput"></div>
							</div>
						</div>
					</div>
					<div class="row marginCalc medpaddingbottom">
						<div class="form-group nomarginbottom">
							<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 text-right">
								<label for="term" class="control-label"><h4 class="nomarginall hidden-xs">Años</h4><h5 class="nomarginall visible-xs">Años</h5></label>
							</div>
							<div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
								<input class="form-control" id="term" name="term" type="text" size="7" value="30">
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div id="termInput"></div>
							</div>
						</div>
					</div>
					<div class="row marginCalc medpaddingbottom">
						<div class="form-group nomarginbottom">
							<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 text-right">
								<label for="interest" class="control-label"><h4 class="nomarginall hidden-xs">Interés %</h4><h5 class="nomarginall visible-xs">Interés %</h5></label>
							</div>
							<div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
								<input class="form-control" id="interest" name="interest" type="text" size="7" value="<%= rate %>">
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div id="interestInput"></div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-3">
				<div id="summary_div" style="float:left"></div>
			</div>
		</div>	
		<div id="chart_div"></div>
		<div id="schedule_div" class=""></div>
		<div id="customTooltipDiv"></div>
	</div>
</div>

<!-- JQPLOT ENGINE -->
<script type="text/javascript" src="/jqplot/jquery.jqplot.js"></script>
<script type="text/javascript" src="/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="/jqplot/plugins/jqplot.highlighter.js"></script>
<script type="text/javascript" src="/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="/jqplot/plugins/jqplot.cursor.js"></script>
<script type="text/javascript" src="/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<!-- UI -->
<script type="text/javascript" src="/js/ui.js"></script>
