<!-- FAQs -->
<h2>FAQs (PFs)</h2>
<h5>Preguntas Frecuentes</h5>
<div class="panel-group" id="accordion">
  <div class="panel panel-info">
	<div class="panel-heading">
	  <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		  ¿Que es ClasiNuevos.com?
		</a>
	  </h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse in">
	  <div class="panel-body">
		ClasiNuevos.com es una plataforma de promoción de propiedades de Bienes Raíces para todo Puerto Rico. 
		ClasiNuevos.com ofrece la opción de anunciarse gratis por 30 días, o destacar su anuncio y añadir fotos a un costo mínimo.
	  </div>
	</div>
  </div>
  <div class="panel panel-info">
	<div class="panel-heading">
	  <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		  ¿Que metodos de pago hay disponibles para destacar mis anuncios o para fotos adicionales?
		</a>
	  </h4>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse">
	  <div class="panel-body">
		Puede pagar por destacar sus anuncios o por fotos adicionales utilizando una Tarjeta de Credito (Visa, MasterCard, American Express, JCB, Discover o Diners Club).  
		ClasiNuevos.com utiliza el sistema de pago Stripe (<a href="http://www.stripe.com/about" target="_blank">Stripe.com</a>) para procesar de manera segura todas sus transacciones de tarjetas de crédito.
	  </div>
	</div>
  </div>
  <div class="panel panel-info">
	<div class="panel-heading">
	  <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		  ¿Como protege ClasiNuevos.com la información suministrada?
		</a>
	  </h4>
	</div>
	<div id="collapseThree" class="panel-collapse collapse">
	  <div class="panel-body">
		Toda la información personal es protegida por un SSL (Secure Sockets Layer) o Protocolo Criptográfico de Seguridad el cual codifica toda la información antes de ser transmitida
		y la decodifica al llegar a su destino final.  En adición este protocolo (SSL) verifica la integridad del tráfico entre el servidor y el navegador (browser).
	  </div>
	</div>
  </div>
  <div class="panel panel-info">
	<div class="panel-heading">
	  <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
		  ¿ClasiNuevos.com guarda la información de mi tarjeta de crédito?
		</a>
	  </h4>
	</div>
	<div id="collapse4" class="panel-collapse collapse">
	  <div class="panel-body">
		No. Su información de tarjeta de crédito nunca es almacena en nuestros servidores.
	  </div>
	</div>
  </div>
  <div class="panel panel-info">
	<div class="panel-heading">
	  <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
		  ¿Al final del periodo de publicación de 30 dias, puedo extender mi clasificado por tiempo adicional?
		</a>
	  </h4>
	</div>
	<div id="collapse5" class="panel-collapse collapse">
	  <div class="panel-body">
		Si. Su clasificado puede ser extendido por 30 dias adicionales.  Si su clasificado era gratis, podrá extenderlo de manera gratuita. Si clasificado
		era destacado o con fotos adicionales, podrá extenderlo por el mismo costo original.
	  </div>
	</div>
  </div>
  <div class="panel panel-info">
	<div class="panel-heading">
	  <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
		  ¿Que pasara con mi clasificado al final de los 30 dias de publicación?
		</a>
	  </h4>
	</div>
	<div id="collapse6" class="panel-collapse collapse">
	  <div class="panel-body">
		Si usted creo una cuenta en ClasiNuevos.com, podrá accesar la información de su clasificado através de su cuenta.  De no tener una cuenta su clasificado sera borrado
		al final del periodo de publicación.
	  </div>
	</div>
  </div>
  <div class="panel panel-info">
	<div class="panel-heading">
	  <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
		  ¿Solo puedo publicar clasificados de Bienes Raíces?
		</a>
	  </h4>
	</div>
	<div id="collapse7" class="panel-collapse collapse">
	  <div class="panel-body">
		Si.  ClasiNuevos.com se especializa en proveer clasificados de Bienes Raíces de una manera sencilla y clara, para así optimizar la promoción de propiedad.
		Actualmente no aceptamos clasificados de otro tipo, por lo que clasificados de otro tipo serán borrados sin previo aviso.
	  </div>
	</div>
  </div>
  <!--
  <div class="panel panel-info">
	<div class="panel-heading">
	  <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
		  What happen if I miss the return date?
		</a>
	  </h4>
	</div>
	<div id="collapse8" class="panel-collapse collapse">
	  <div class="panel-body">
		You must return the tool on the agreed schedule, but if something happen and you miss the date, you will be charge the standard fee
		for the extra time, plus a late fee.  To avoid the late fee, you must arrange an extension of the renting period by going to 
		www.toolspin.com/extension.
	  </div>
	</div>
  </div>
  <div class="panel panel-info">
	<div class="panel-heading">
	  <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
		  When will ToolSpin be ready for use?
		</a>
	  </h4>
	</div>
	<div id="collapse9" class="panel-collapse collapse">
	  <div class="panel-body">
		ToolSpin will be ready for Beta testing on November 2013.  We expect the service to launch by January 2014!
	  </div>
	</div>
  </div>
  -->
</div>