<!DOCTYPE html>
<html lang="en" ng-app="clasiroutes">
	<!-- HEAD
	================================================== -->
    <head>
		<meta charset="utf-8">
		<title>Twitter REST API Homework</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- CSS Links -->
		<!-- BOOTSTRAP - Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- BOOTSTRAP Optional theme -->
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
		<!-- FONT-AWESOME Optional theme -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<!-- Custom JQUERY UI styles -->
		<link href="/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
		<!-- Custom BOOTSTRAP CAROUSEL styles -->
		<link href="/css/carousel.css" rel="stylesheet">
		<!-- VALIDATION ENGINE CSS -->
		<link href="/css/validationEngine.jquery.css" rel="stylesheet">
        <!-- Custom CALSINUEVOS style -->
        <link href="/css/twitter_hw.css" rel="stylesheet">

    </head>
    
	<!-- BODY
	================================================== -->
    <body>
		<!-- TOP BAR at top, Multicolor -->
		<div class="topbar"></div>
		
		<!-- NAVIGATION Bar Menu
		================================================== -->
		<div class="navbar-wrapper">
			<div class="container">

				<div class="navbar navbar-inverse navbar-static-top">

					<div class="container">
	
						<div class="navbar-header">
							<button type="button" class="xsMenuBtn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<div class="center-text center-fields">
									<span class="icon-bar center-text"></span>
									<span class="icon-bar center-text"></span>
									<span class="icon-bar nopaddingbottom center-text"></span>
									<div class="xsMenu">Menu</div>
								</div>
							</button>
							<div id="toolspinLogo">
								<a class="navbar-brand nopaddingall smallpaddingright smallpaddingLeftRightLogo" href="/">
									<div class="">
                                        <font color="#00bfff"><h4 class="minipaddingtop">Twitter REST API Homework</h4></font>
									</div>
								</a>
							</div>
						</div>
		
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
							<% if(userName == "Guest") { %>
								<li><a id="loginBtn" href="#">Log-In</a></li>
							<% } 
							   else {	%>
							   		<li class="dropdown visible-xs">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										  Welcome <%= userName %> <span class="caret"></span>
										</a>
                                        <ul class="dropdown-menu">
                                            <li><a id="signoutBtn" href="/logout">Log-Out</a></li>
                                        </ul>
									</li>
<%								} %>
							</ul>
							<div class="user-welcome hidden-xs right">
								<% if (userName == "Guest") { %>
									Welcome <%= userName %>
								<% } 
								   else {%>
										<li class="dropdown">
											<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											  Welcome <%= userName %> <span class="caret"></span>
											</a>
                                            <ul class="dropdown-menu">
                                                <li><a id="signoutBtn" href="/logout">Log-Out</a></li>
                                            </ul>
										</li>
								<% }%>
							</div>
						</div>
					
						<!-- Login -->
						<div id="loginDrawer" class='container <%= hidden %> medpaddingbottom loginDrawer'>
							<!-- Close Button -->
							<div class="row">
								<div class="col-md-12">
									<a id="closeLogin" href="#loginDrawer" class="right nopaddingbottom"><i class="icon-remove-sign icon-2x"></i></a>
								</div>
							</div>
						
							<!-- Log-in and Sign-in Forms -->
							<div id="loginData">
								<div class="row largepaddingleft largepaddingright center-fields loginPadding">
									<div id="login" class="col-md-6">
									
										<form id="loginForm" class="form-horizontal loginForm largepaddingbottom" role="form" method="post" action="/login">
											<h3 class="logocolors-noshadow center-text nomargintop">Log-in</h3>
											<div class="form-group">
												<div class="col-lg-12 col-md-12">
													<input type="text" class="form-control validate[required]" id="username" name="username" placeholder="User Name">
												</div>
											</div>
				
											<div class="form-group">
												<div class="col-lg-12 col-md-12">
													<input type="password" class="form-control validate[required]" id="password" name="password" placeholder="Password">
												</div>
											</div>
											<% if (errorLogin) { %>
												<p class="alert alert-danger"><%= errorLogin %></p>
											<% } %>
											<button type="submit" class="btn btn-clasinuevos">Log-In</button>
										</form>
				
									</div>
									<div id="newAccount" class="col-md-6">	
									
										<form id="signnewForm" class="form-horizontal loginForm" role="form" method="post" action="/signnew">
											<h3 class="logocolors-noshadow center-text nomargintop">Sign-Up</h3>
											<div class="form-group">
												<div class="col-lg-12 col-md-12">
													<input type="text" class="form-control validate[required]" id="fullName" name="fullNameOwner" placeholder="Full Name">
												</div>
											</div>
					
											<div class="form-group">
												<div class="col-lg-12 col-md-12">
													<input type="text" class="userName form-control validate[required]" id="userName" name="username" placeholder="User Name">
												</div>
											</div>
			
											<div class="form-group">
												<div class="col-lg-12 col-md-12">
													<input type="email" class="form-control validate[required,custom[email]]" id="signnewEmail" name="email" placeholder="Email">
												</div>
											</div>
			
											<div class="form-group">
												<div class="col-lg-12 col-md-12">
													<input type="password" class="form-control validate[required]" id="passwordSignup" name="password" placeholder="Password">
												</div>
											</div>
			
											<div class="form-group">
												<div class="col-lg-12 col-md-12">
													<input type="password" class="form-control validate[required,equals[passwordSignup]]" id="passwordConfSignup" name="passwordConf" placeholder="Confirm Password">
												</div>
											</div>
											
											<!-- Hidden Fields to match Database Structure and Avoid Try-Catch on server (undefined error) -->
											<input type="hidden" name="fullNameRealtor" value="">
											<input type="hidden" name="ownerOrRealtor" value="">
											<% if (errorSignup) { %>
												<p class="alert alert-danger"><%= errorSignup %></p>
											<% } %>
											<button type="submit" class="userNameOk btn btn-clasinuevos">Sign-Up</button>
										</form>
				
									</div>
								</div>
							</div>
						
						</div>
						
					</div>
	
				</div>
			
			</div>
		</div>
 
		<!-- CAROUSEL
		================================================== -->
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<div id="carouselMod" class="carousel-caption">

					</div>
				</div>
			</div>
		</div><!-- /.carousel -->

		<!-- WIDE ROW White bar across page
		 ================================================== -->
		<div id="social-buttons-row" class="well well-sm">

		</div>

		<!-- CONTENT -
		================================================== -->
		<div class="container nomargintop">
			<div class="row">
			
				<!-- CENTRAL CONTENT
				****************************************** -->
				<div id="mainContent" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                    <!-- Twitters REST APIs Calls
                    ++++++++++++++++++++++++++++++++++++++ -->
					<div id="twitterBox" class="hidden drawerAdjustments">
						<div id="tokenMessage"><div class='text-center largemargintop'><h1>Loading... <i class='icon-refresh icon-spin'></i></h1></div></div>
					</div>





				</div>

			</div>
			
			<!-- FOOTER -->
			<footer>
				<div class="largepaddingtop">
					<p class="pull-right"><a href="#">SJSU Tech-team</a></p>
				</div>
			</footer>

		</div><!-- /.container -->

		<!-- START SCRIPTS Bootstrap & core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!-- JQUERY -->    
		<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
		<!-- BOOSTRAP -->    
		<script src="/js/bootstrap.min.js"></script>
		<!-- JQUERY UI -->    
		<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
		<!-- Main JS file for Homework -->
		<script src="/js/twitter_hw.js"></script>
		<!-- FORM VALIDATION ENGINE -->    
		<script src="/js/jquery.validationEngine-es.js"></script>
		<script src="/js/jquery.validationEngine.js"></script>
		<script src="/js/other-validations.js"></script>

		<!-- END   SCRIPTS -->
  </body>
</html>