<!-- PICTURE DROP PEKEUPLOAD -->    
<script src="/js/pekeUpload.js"></script>
<!-- PICTURE DROP FILEDROP 
<script src="/js/jquery.filedrop.js"></script>-->
<!-- PICTURE DROP DROPBOX  
<script src="/js/dropbox.js"></script>-->   
<!-- MY ACCOUNT -->    
<script src="/js/myaccount.js"></script>

<!-- PEKE FILE UPLOAD CSS -->
<link href="/css/peke.css" rel="stylesheet">
<!-- DROPBOX FILE UPLOAD CSS -->
<link href="/css/dropbox.css" rel="stylesheet">

<div class="panel panel-default">
	<div class="panel-body">
		<!-- Close Button -->
		<a id="myAccountCloseBtn" href="#searchDrawer" class="right nopaddingbottom smallpaddingright"><i class="icon-remove-sign icon-2x"></i></a>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3">
				<a id="cambiarFotoBtn" data-toggle="modal" href="#changePicModal">
					<img id="userPic" class="thumb media-object img-rounded" src="https://s3.amazonaws.com/clasinuevos/uploads/<%= userData.photos %>" alt="Foto de Perfil">
					<div class="smallpaddingleft">
						<h6 class="nomarginall"><em> Cambiar Foto</em></h6>
					</div>
				</a>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-2 resultPic"></div>
			<div class="col-lg-7 col-md-7 col-sm-7">
				<h3><%= userData.name %></h3>
				<h4><%= userData.email %></h4>
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="changePicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Cambiar Foto</h4>
					</div>
					<div class="modal-body">
						<div class="well well-sm">
							<h4 class=""><strong>Notas:</strong></h4>
							<ul>
								<li>Tamaño Máximo permitido<strong> 5MB</strong></li>
								<li>Solo se aceptan fotos de tipo: <strong>jpg, png, bmp, jpeg, tiff, gif</strong></li>
								<li>Presione <strong>"Buscar Imagen..."</strong></li>
							</ul>
						</div>
						<input id="myAccountFile" class="myAccountFile" type="file" name="file" />
						<input id="myAccountPhoto1" type="hidden" name="photo1" />
					</div>
					<div class="modal-footer">
						<button id="closePicBtn" type="button" class="btn btn-default">Cerrar</button>
						<button id="savePicBtn" type="button" class="btn btn-primary">Grabar Cambios</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<div id="myaccountAccordion">
			<h3>Mi Perfil</h3>
			<div>
				<form id="changeUserEmailForm" class="form-horizontal loginForm" role="form" method="post" action="/changeuseremail">
				
					<div class="form-group smallpaddingbottom">
						<label class="control-label col-lg-4 col-md-4 col-sm-4 " for="changeUserName">Nombre de Usuario</label>
						<div class="col-lg-7 col-md-7 col-sm-7">
							<input type="text" class="changed userName form-control" id="changeUserName" name="username" placeholder="Escriba el Nombre de Usuario" value="<%= userData.username %>">
							<input id="userId" type="hidden" name="id" value="<%= userData.id %>">
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 result"></div>
					</div>

					<div class="form-group smallpaddingbottom">
						<label class="control-label col-lg-4 col-md-4 col-sm-4" for="changeEmail">Email</label>
						<div class="col-lg-7 col-md-7 col-sm-7">
							<input type="email" class="changed form-control" id="changeEmail" name="email" placeholder="Escriba su Email" value="<%= userData.email %>">
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 result"></div>
					</div>

					<div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 largepaddingbottom">
						<button id="changeUserEmailBtn" type="submit" class="btnReady userNameOk btn btn-clasinuevos">Grabar Cambios</button>
					</div>
					
				</form>	
				
				<form id="changePasswordForm" class="form-horizontal loginForm" role="form" method="post" action="/changepassword">
					
					<div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 medpaddingbottom">
						<a id="changePasswordBtn" href="#" class=""><em><strong>Cambiar Contraseña</strong></em></a>
					</div>
					
					<div id="passwordChangeDrawer" class="">
					
						<div class="form-group smallpaddingbottom">
							<label class="control-label col-lg-4 col-md-4 col-sm-4" for="changePassword">Contraseña</label>
							<div class="col-lg-7 col-md-7 col-sm-7">
								<input type="password" class="changedPass form-control validate[required]" id="changePassword" name="password" placeholder="Escriba Nueva Contraseña">
								<input type="hidden" name="id" value="<%= userData.id %>">
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 resultPass"></div>
						</div>
					
						<div class="form-group smallpaddingbottom">
							<label class="control-label col-lg-4 col-md-4 col-sm-4" for="changeConfirmPassword">Confirmar Contraseña</label>
							<div class="col-lg-7 col-md-7 col-sm-7">
								<input type="password" class="changedPass form-control validate[required,equals[changePassword]]" id="changeConfirmPassword" name="passwordConf" placeholder="Confirme Nueva Contraseña">
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 resultPass"></div>
						</div>
						
						<div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 medpaddingbottom">
							<button id="changePassBtn" type="submit" class="btnReadyPass btn btn-clasinuevos">Cambiar Contraseña</button>
						</div>
						
					</div>
					
				</form>
			</div>
			
			<h3>Mis Clasificados: Activos</h3>
			<div>
				<div id="classifiedSummaryData">
					<!-- Listing Rows - To be Repeated - START -->
	<%				var bucketCounter = 0;
	
				//LARGE Screen SIZE
				if (width > 1199) {
					for(var a=0; a < dataRows.length; a++) {
						if(dataRows[a].visible > 0) {
							if(bucketCounter == 3 || bucketCounter == 0) { 
								bucketCounter = 0; %>	
								<div class='row'>
		<%					}  %>

								<div id="class<%= dataRows[a].id %>" class="col-lg-4 col-md-6 col-sm-6 col-xs-6 image-bucket">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-fields">
											<a href="#" class="changeDetailsBtn" name="<%= dataRows[a].id %>">
	<%											
												var allPhotos = new Array();
												if(dataRows[a].photo1) allPhotos.push(dataRows[a].photo1);
												if(dataRows[a].photo2) allPhotos.push(dataRows[a].photo2);
												if(dataRows[a].photo3) allPhotos.push(dataRows[a].photo3);
												if(dataRows[a].photo4) allPhotos.push(dataRows[a].photo4);
												if(dataRows[a].photo5) allPhotos.push(dataRows[a].photo5);
											if(allPhotos.length == 0) { %>
												<img class="img-thumbnail medthumb img-responsive" src='./img/defaultHome.png' alt="">
	<%										}
											else { %>
												<img class="img-thumbnail medthumb img-responsive" src='https://s3.amazonaws.com/clasinuevos/uploads/<%= allPhotos[0] %>' alt="">
	<%										} %>
											</a>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
											<h4><%= dataRows[a].price %></h4>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<h6 class="warning"><font color="black"><%= dataRows[a].bedrooms %> ct</font></h6>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<h6 class="warning"><font color="black"><%= dataRows[a].bathrooms %> ba</font></h6>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											<h6 class=""><font color="black"><%= dataRows[a].neighborhood %></font></h6>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<% if(dataRows[a].highlight === '1') { %>
													<h4 class="right"><i class="icon-certificate icon-large icon-spin"></i></h4>
											<% } %>
										</div>
									</div>
								</div>
		<%   					bucketCounter++;
								if(a == dataRows.length-1)
									bucketCounter = 3;
								
							if(bucketCounter == 3) { %>
								</div>
								<hr>
		<%					}
						}
					}
				} 
				
				//MEDIUM Screen SIZE
				if ((width < 1200) && (width > 749)) {
					for(var a=0; a < dataRows.length; a++) {
						if(dataRows[a].visible > 0) {
							if(bucketCounter == 2 || bucketCounter == 0) { 
								bucketCounter = 0; %>	
								<div class='row'>
		<%					}  %>

								<div id="class<%= dataRows[a].id %>" class="col-lg-4 col-md-6 col-sm-6 col-xs-6 image-bucket">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-fields">
											<a href="#" class="changeDetailsBtn" name="<%= dataRows[a].id %>">
	<%											
												var allPhotos = new Array();
												if(dataRows[a].photo1) allPhotos.push(dataRows[a].photo1);
												if(dataRows[a].photo2) allPhotos.push(dataRows[a].photo2);
												if(dataRows[a].photo3) allPhotos.push(dataRows[a].photo3);
												if(dataRows[a].photo4) allPhotos.push(dataRows[a].photo4);
												if(dataRows[a].photo5) allPhotos.push(dataRows[a].photo5);
											if(allPhotos.length == 0) { %>
												<img class="img-thumbnail medthumb img-responsive" src='./img/defaultHome.png' alt="">
	<%										}
											else { %>
												<img class="img-thumbnail medthumb img-responsive" src='https://s3.amazonaws.com/clasinuevos/uploads/<%= allPhotos[0] %>' alt="">
	<%										} %>
											</a>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
											<h4><%= dataRows[a].price %></h4>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<h6 class="warning"><font color="black"><%= dataRows[a].bedrooms %> ct</font></h6>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<h6 class="warning"><font color="black"><%= dataRows[a].bathrooms %> ba</font></h6>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											<h6 class=""><font color="black"><%= dataRows[a].neighborhood %></font></h6>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<% if(dataRows[a].highlight === '1') { %>
													<h4 class="right"><i class="icon-certificate icon-large icon-spin"></i></h4>
											<% } %>
										</div>
									</div>
								</div>
		<%   					bucketCounter++;
								if(a == dataRows.length-1)
									bucketCounter = 2;
								
							if(bucketCounter == 2) { %>
								</div>
								<hr>
		<%					}
						}
					}
				} 
				
				//SMALL Screen SIZE
				if (width < 749) {
					for(var a=0; a < dataRows.length; a++) {
						if(dataRows[a].visible > 0) {
							if(bucketCounter == 1 || bucketCounter == 0) { 
								bucketCounter = 0; %>	
								<div class='row'>
		<%					}  %>

								<div id="class<%= dataRows[a].id %>" class="col-lg-4 col-md-6 col-sm-6 col-xs-6 image-bucket">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-fields">
											<a href="#" class="changeDetailsBtn" name="<%= dataRows[a].id %>">
	<%											
												var allPhotos = new Array();
												if(dataRows[a].photo1) allPhotos.push(dataRows[a].photo1);
												if(dataRows[a].photo2) allPhotos.push(dataRows[a].photo2);
												if(dataRows[a].photo3) allPhotos.push(dataRows[a].photo3);
												if(dataRows[a].photo4) allPhotos.push(dataRows[a].photo4);
												if(dataRows[a].photo5) allPhotos.push(dataRows[a].photo5);
											if(allPhotos.length == 0) { %>
												<img class="img-thumbnail medthumb img-responsive" src='./img/defaultHome.png' alt="">
	<%										}
											else { %>
												<img class="img-thumbnail medthumb img-responsive" src='https://s3.amazonaws.com/clasinuevos/uploads/<%= allPhotos[0] %>' alt="">
	<%										} %>
											</a>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
											<h4><%= dataRows[a].price %></h4>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<h6 class="warning"><font color="black"><%= dataRows[a].bedrooms %> ct</font></h6>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<h6 class="warning"><font color="black"><%= dataRows[a].bathrooms %> ba</font></h6>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											<h6 class=""><font color="black"><%= dataRows[a].neighborhood %></font></h6>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<% if(dataRows[a].highlight === '1') { %>
													<h4 class="right"><i class="icon-certificate icon-large icon-spin"></i></h4>
											<% } %>
										</div>
									</div>
								</div>
		<%   					bucketCounter++;
								if(a == dataRows.length-1)
									bucketCounter = 1;
								
							if(bucketCounter == 1) { %>
								</div>
								<hr>
		<%					}
						}
					}
				} %>
				</div>
			
			<div id="classifiedChangeDrawer" class="hidden">
				<a id="classifiedChangeCloseBtn" href="#classifiedChangeDrawer" class="right nopaddingbottom smallpaddingright"><i class="icon-remove-sign icon-2x"></i></a>
				<div id="classifiedChangeData" class=""></div>
			</div>
			</div>
			
			<h3>Mis Clasificados: Vencidos</h3>
			<div>
				<div id="classifiedEndedSummaryData">
					<!-- Listing Rows - To be Repeated - START -->
	<%				var bucketCounter = 0;
	
				//LARGE Screen SIZE
				if (width > 1199) {
					for(var a=0; a < dataRows.length; a++) {
						if(dataRows[a].visible == 0) {
							if(bucketCounter == 3 || bucketCounter == 0) { 
								bucketCounter = 0; %>	
								<div class='row'>
		<%					}  %>

								<div id="class<%= dataRows[a].id %>" class="col-lg-4 col-md-6 col-sm-6 col-xs-6 image-bucket">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-fields">
	<%											
												var allPhotosEnded = new Array();
												if(dataRows[a].photo1) allPhotosEnded.push(dataRows[a].photo1);
												if(dataRows[a].photo2) allPhotosEnded.push(dataRows[a].photo2);
												if(dataRows[a].photo3) allPhotosEnded.push(dataRows[a].photo3);
												if(dataRows[a].photo4) allPhotosEnded.push(dataRows[a].photo4);
												if(dataRows[a].photo5) allPhotosEnded.push(dataRows[a].photo5);
											if(allPhotosEnded.length == 0) { %>
												<img class="img-thumbnail medthumb img-responsive" src='./img/defaultHome.png' alt="">
	<%										}
											else { %>
												<img class="img-thumbnail medthumb img-responsive" src='https://s3.amazonaws.com/clasinuevos/uploads/<%= allPhotosEnded[0] %>' alt="">
	<%										} %>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
											<h4><%= dataRows[a].price %></h4>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<h6 class="warning"><font color="black"><%= dataRows[a].bedrooms %> ct</font></h6>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<h6 class="warning"><font color="black"><%= dataRows[a].bathrooms %> ba</font></h6>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											<h6 class=""><font color="black"><%= dataRows[a].neighborhood %></font></h6>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<% if(dataRows[a].highlight === '1') { %>
													<h4 class="right"><i class="icon-certificate icon-large icon-spin"></i></h4>
											<% } %>
										</div>
									</div>
									<div class="text-center">
										<button type="button" class="tooltip-extent extendEndedBtn btn btn-xs btn-success" name="<%= dataRows[a].id %>" data-toggle="tooltip" title="Extender por 30 Dias Adicionales">Extender</button>
										<button type="button" class="tooltip-edit changeEndedDetailsBtn btn btn-xs btn-warning" name="<%= dataRows[a].id %>" data-toggle="tooltip" title="Editar y Extender por 30 Dias Adicionales">Editar</button>
									</div>
								</div>
								
		<%   					bucketCounter++;
								if(a == dataRows.length-1)
									bucketCounter = 3;
								
							if(bucketCounter == 3) { %>
								</div>
								<hr>
		<%					}
						}
					} 
				}
				
				//MEDIUM Screen SIZE
				if ((width < 1200) && (width > 749)) {
					for(var a=0; a < dataRows.length; a++) {
						if(dataRows[a].visible == 0) {
							if(bucketCounter == 2 || bucketCounter == 0) { 
								bucketCounter = 0; %>	
								<div class='row'>
		<%					}  %>

								<div id="class<%= dataRows[a].id %>" class="col-lg-4 col-md-6 col-sm-6 col-xs-6 image-bucket">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-fields">
	<%											
												var allPhotosEnded = new Array();
												if(dataRows[a].photo1) allPhotosEnded.push(dataRows[a].photo1);
												if(dataRows[a].photo2) allPhotosEnded.push(dataRows[a].photo2);
												if(dataRows[a].photo3) allPhotosEnded.push(dataRows[a].photo3);
												if(dataRows[a].photo4) allPhotosEnded.push(dataRows[a].photo4);
												if(dataRows[a].photo5) allPhotosEnded.push(dataRows[a].photo5);
											if(allPhotosEnded.length == 0) { %>
												<img class="img-thumbnail medthumb img-responsive" src='./img/defaultHome.png' alt="">
	<%										}
											else { %>
												<img class="img-thumbnail medthumb img-responsive" src='https://s3.amazonaws.com/clasinuevos/uploads/<%= allPhotosEnded[0] %>' alt="">
	<%										} %>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
											<h4><%= dataRows[a].price %></h4>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<h6 class="warning"><font color="black"><%= dataRows[a].bedrooms %> ct</font></h6>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<h6 class="warning"><font color="black"><%= dataRows[a].bathrooms %> ba</font></h6>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											<h6 class=""><font color="black"><%= dataRows[a].neighborhood %></font></h6>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<% if(dataRows[a].highlight === '1') { %>
													<h4 class="right"><i class="icon-certificate icon-large icon-spin"></i></h4>
											<% } %>
										</div>
									</div>
									<div class="text-center">
										<button type="button" class="tooltip-extent extendEndedBtn btn btn-xs btn-success" name="<%= dataRows[a].id %>" data-toggle="tooltip" title="Extender por 30 Dias Adicionales">Extender</button>
										<button type="button" class="tooltip-edit changeEndedDetailsBtn btn btn-xs btn-warning" name="<%= dataRows[a].id %>" data-toggle="tooltip" title="Editar y Extender por 30 Dias Adicionales">Editar</button>
									</div>
								</div>
								
		<%   					bucketCounter++;
								if(a == dataRows.length-1)
									bucketCounter = 2;
								
							if(bucketCounter == 2) { %>
								</div>
								<hr>
		<%					}
						}
					} 
				}
				
				//SMALL Screen SIZE
				if (width < 749) {
					for(var a=0; a < dataRows.length; a++) {
						if(dataRows[a].visible == 0) {
							if(bucketCounter == 1 || bucketCounter == 0) { 
								bucketCounter = 0; %>	
								<div class='row'>
		<%					}  %>

								<div id="class<%= dataRows[a].id %>" class="col-lg-4 col-md-6 col-sm-6 col-xs-6 image-bucket">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-fields">
	<%											
												var allPhotosEnded = new Array();
												if(dataRows[a].photo1) allPhotosEnded.push(dataRows[a].photo1);
												if(dataRows[a].photo2) allPhotosEnded.push(dataRows[a].photo2);
												if(dataRows[a].photo3) allPhotosEnded.push(dataRows[a].photo3);
												if(dataRows[a].photo4) allPhotosEnded.push(dataRows[a].photo4);
												if(dataRows[a].photo5) allPhotosEnded.push(dataRows[a].photo5);
											if(allPhotosEnded.length == 0) { %>
												<img class="img-thumbnail medthumb img-responsive" src='./img/defaultHome.png' alt="">
	<%										}
											else { %>
												<img class="img-thumbnail medthumb img-responsive" src='https://s3.amazonaws.com/clasinuevos/uploads/<%= allPhotosEnded[0] %>' alt="">
	<%										} %>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
											<h4><%= dataRows[a].price %></h4>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<h6 class="warning"><font color="black"><%= dataRows[a].bedrooms %> ct</font></h6>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<h6 class="warning"><font color="black"><%= dataRows[a].bathrooms %> ba</font></h6>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											<h6 class=""><font color="black"><%= dataRows[a].neighborhood %></font></h6>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<% if(dataRows[a].highlight === '1') { %>
													<h4 class="right"><i class="icon-certificate icon-large icon-spin"></i></h4>
											<% } %>
										</div>
									</div>
									<div class="text-center">
										<button type="button" class="tooltip-extent extendEndedBtn btn btn-xs btn-success" name="<%= dataRows[a].id %>" data-toggle="tooltip" title="Extender por 30 Dias Adicionales">Extender</button>
										<button type="button" class="tooltip-edit changeEndedDetailsBtn btn btn-xs btn-warning" name="<%= dataRows[a].id %>" data-toggle="tooltip" title="Editar y Extender por 30 Dias Adicionales">Editar</button>
									</div>
								</div>
								
		<%   					bucketCounter++;
								if(a == dataRows.length-1)
									bucketCounter = 1;
								
							if(bucketCounter == 1) { %>
								</div>
								<hr>
		<%					}
						}
					} 
				}%>
				</div>
			
			<div id="classifiedEndedChangeDrawer" class="hidden">
				<a id="classifiedEndedChangeCloseBtn" href="#classifiedChangeDrawer" class="right nopaddingbottom smallpaddingright"><i class="icon-remove-sign icon-2x"></i></a>
				<div id="classifiedEndedChangeData" class=""></div>
			</div>
			</div>
			
		</div>

	</div>
</div>