<!DOCTYPE html>
<html lang="en">
	<body>
        <h2>Coinbase orders</h2>
        <table class="table table-striped">
        	<thead>
			    <th>Coinbase ID</th>
			    <th>BTC</th>
			    <th>Transaction time</th>
        	</thead>
        	<tfoot>
				<tr>
				    <td><strong>BTC Total</strong></td>
				    <td><strong><%= total %></strong></td>
				</tr>
  			</tfoot>
        	<tbody>
          	 <% for(var i=0; i<orders.length; i++) {%>
					<tr>
						<td><%= orders[i].id %></td>
						<td><%= orders[i].amount %></td>
						<td><%= orders[i].time %></td>
					</tr>
             <% } %>
            </tbody>
        </table>
    </body>
</html>