<div id="mainFormDiv">
	<!-- START FORM -->
	<form id="mainForm" class="form-horizontal" name="publicacion" role="form" action="/record" method="POST" enctype="multipart/form-data">
		<div class="alert alert-success alert-dismissable nomarginbottom">
		    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		    <h3 class="nomargintop nopaddingtop">Todos nuestros clasificados incluyen:</h3>
		    <ul>
			    <li>1 Foto de hasta 5MB</li>
			    <li>Publicación por 30 dias</li>
			    <li>Localización en Mapa (Google Maps)</li>
			    <li>Calculadora de Hipotecas con Amortización</li>
			</ul>
		</div>
		<!-- START WIZARD -->
		<div id="MyWizard" class="swMain ">
			<ul>
				<li><a href="#step1"><span class="stepNumber">1</span><span class="stepDesc">Paso 1<br /><small>Contacto</small></span></a></li>
				<li><a href="#step2"><span class="stepNumber">2</span><span class="stepDesc">Paso 2<br /><small>Ubicación</small></span></a></li>
				<li><a href="#step3"><span class="stepNumber">3</span><span class="stepDesc">Paso 3<br /><small>Descripción</small></span></a></li>
				<li><a href="#step4"><span class="stepNumber">4</span><span class="stepDesc">Paso 4<br /><small>Fotos</small></span></a></li>
				<li><a href="#step5"><span class="stepNumber">5</span><span class="stepDesc">Paso 5<br /><small>Publicar</small></span></a></li>
			</ul>

			<!-- START STEP 1 -->
			<div class="" id="step1">
				<h2 class="StepTitle">Información de Contacto</h2>	
				
				<!-- ownerOrRealtor -->
				<div id="ownerOrRealtorGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="ownerOrRealtor">Negocio Por:</label>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">	
							<div class="radio">	
								<label class="radio-inline">
									<input type="radio" name="ownerOrRealtor" id="ownerOrRealtor1" value="Dueno" checked>
									Dueño
								</label>
							</div>	
						</div>	
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">	
							<div class="radio">	
								<label class="radio-inline">
									<input type="radio" name="ownerOrRealtor" id="ownerOrRealtor2" value="Realtor">
									Realtor
								</label>
							</div>	
						</div>		
					</div>
				</div>  

				<!-- fullNameOwner -->
				<div id="fullNameOwnerGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="fullNameOwner">Nombre <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control userType validate[required]" type="text" id="fullNameOwner" name="fullNameOwner" placeholder="Persona Contacto">
						</div>
					</div>
				</div>

				<!-- emailOwner REQUIRED
				<div id="emailOwnerGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="emailOwner">Email <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control userType validate[custom[email]]" type="email" id="emailOwner" name="emailOwner" placeholder="Email Contacto">
						</div>
					</div>
				</div> -->
				
				<!-- emailOwner -->
				<div id="emailOwnerGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="emailOwner">Email <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control userType validate[required,custom[email]]" type="email" id="emailOwner" name="emailOwner" placeholder="Email Contacto">
						</div>
					</div>
				</div>

				<!-- phoneOwner -->
				<div id="phoneOwnerGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="phoneOwner">Teléfono</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control validate[custom[phone]]" type="text" id="phoneOwner" name="phoneOwner" placeholder="Teléfono Contacto">
						</div>
					</div>
				</div>

				<!-- fullNameRealtor -->
				<div id="fullNameRealtorGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="fullNameRealtor">Realtor <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control realtorType validate[required]" type="text" id="fullNameRealtor" name="fullNameRealtor" placeholder="Compañía de Bienes Raices">
						</div>
					</div>
				</div>

				<!-- emailRealtor - REQUIRED 
				<div id="emailRealtorGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="emailRealtor">Email <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control realtorType validate[required,custom[email]]" type="text" id="emailRealtor" name="emailRealtor" placeholder="Email Realtor">
						</div>
					</div>
				</div> -->
				
				<!-- emailRealtor  NOT REQUIRED-->
				<div id="emailRealtorGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="emailRealtor">Email <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control realtorType validate[custom[email]]" type="text" id="emailRealtor" name="emailRealtor" placeholder="Email Realtor">
						</div>
					</div>
				</div>

				<!-- phoneRealtor -->
				<div id="phoneRealtorGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="phoneRealtor">Teléfono</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control validate[custom[phone]]" type="text" id="phoneRealtor" name="phoneRealtor" placeholder="Teléfono Realtor">
						</div>
					</div>
				</div>
				
				<!-- account Message -->
				<div>
					<div class="form-group nomarginbottom">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="accountmessage"></label>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
							<div class="alert alert-info minipaddingall nomarginbottom">
								El <strong>Crear una Cuenta</strong> te da el beneficio adicional de poder <strong>manejar</strong> y <strong>editar</strong> tus clasificados, 
								ademas de poder <strong>re-publicarlos</strong> una vez expiren a los 30 dias.
							</div>
						</div>
					</div>
				</div>

				<!-- account -->
				<div id="createAccountGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="createAccount"></label>
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-9">
							<div class="checkbox">
								<label>
								<%  
									var inputType, inputValue, inputText;
									if (userName == "Visitante") {
										inputType = "checkbox";
										inputValue = "1";
										inputText = "Crear una cuenta en ClasiNuevos.com";
									}
									else {
										inputType = "hidden";
										inputValue = "0";
										inputText = "";
									}
								%>	
									<input type=<%= inputType %> name="createAccount" id="createAccount" value=<%= inputValue %>>
									<%= inputText %>
								</label>
							</div>
						</div>
					</div>
				</div>

				<!-- userNamePublish -->
				<div id="userNamePublishGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="userNamePublish">Nombre de Usuario<i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="userName form-control newAccount validate[required]" type="text" id="userNamePublish" name="username" placeholder="Nombre de Usuario">
							<!-- Hidden Input to Flag if User Name is Taken -->
							<input class="userNameOk" type="hidden">
						</div>
					</div>
				</div>

				<!-- emailOwner2 -->
				<div id="emailOwner2Group">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="emailOwner2">Email <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control newAccount validate[required,custom[email]]" type="text" id="emailOwner2" name="email" placeholder="Email del Usuario">
						</div>
					</div>
				</div>

				<!-- passwordPublish -->
				<div id="passwordPublishGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="passwordPublish">Contraseña <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control newAccount validate[required]" type="password" id="passwordPublish" name="password" placeholder="Contraseña">
						</div>
					</div>
				</div>

				<!-- passwordConfirmation -->
				<div id="passwordConfirmationGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="passwordConfirmation">Confirmar Contraseña <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control newAccount validate[required,equals[passwordPublish]]" type="password" id="passwordConfirmation" name="passwordConf" placeholder="Confirmar Contraseña">
						</div>
					</div>
				</div>

			</div>
			<!-- END STEP 1 -->

			<!-- START STEP 2 -->
			<div class="" id="step2">
				<h2 class="StepTitle">Información de Ubicación</h2>	
				
				<!-- neighborhood -->
				<div id="neighborhoodGroup">
					<div class="form-group smallpaddingtop">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="neighborhood">Vecindario <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="addressChange form-control validate[required]" type="text" id="neighborhood" name="neighborhood" placeholder="Urbanización, Barrio o Sector">
						</div>
					</div>
				</div>

				<!-- address -->
				<div id="addressGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="address">Dirección <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="addressChange form-control validate[required]" type="text" id="address" name="address" placeholder="Calle y Número">
						</div>
					</div>
				</div>

				<!-- town -->
				<div id="townGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="town">Pueblo <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<select class="addressChange form-control validate[required]" id="town" name="town" form="mainForm"></select>
						</div>
					</div>
				</div>

				<!-- stateOwner -->
				<div id="stateOwnerGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="stateOwner">Estado</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<select class="addressChange form-control" id="stateOwner" name="stateOwner" form="mainForm"></select>
						</div>
					</div>
				</div>

				<!-- zipcode -->
				<div id="zipcodeGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="zipcode">Zipcode</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="addressChange form-control validate[custom[zipcodeUS]]" type="text" id="zipcode" name="zipcode" placeholder="Código Postal">
							<br>
							<button id="lookupCoords" class="btn btn-warning">Añadir Localización en Mapa</button>
						</div>
					</div>
				</div>
				<div id="mapError"></div>

				<div id="mapDrawGroup" class="hidden">
					<!-- coordinates Longitud-->
					<div id="coordinatesGroupLat">
						<div class="form-group">
							<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="longitud">Longitud</label>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
								<input class="form-control" type="text" id="longitud" name="longitud" placeholder="Longitud">
							</div>
						</div>
					</div>
					<!-- coordinates Latitude-->
					<div id="coordinatesGroupLong">
						<div class="form-group">
							<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="latitude">Latitude</label>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
								<input class="form-control" type="text" id="latitude" name="latitude" placeholder="Latitude">
							</div>
						</div>
					</div>
					<div class="alert alert-info nomargintop nomarginbottom smallpaddingall text-center"><h4 class="nopaddingall nomarginall">Verifique que la posición de su propiedad ("Pin" rojo) haya sido calculada correctamente.  De estar incorrecta, mueva el "Pin" a la ubicación real (mas cercana) de su propiedad.</h4></div>					
					<div id="mapDraw"></div>
				</div>
				
			</div>
			<!-- END STEP 2 -->

			<!-- START STEP 3 -->
			<div class="" id="step3">
				<h2 class="StepTitle">Descripción de la Propiedad</h2>	
				
				<!-- sellOrRent -->
				<div id="sellOrRentGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="sellOrRent">¿Venta o Alquiler?</label>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">	
							<div class="radio">
								<label class="radio-inline">
									<input type="radio" name="sellOrRent" id="sellOrRent1" value="Venta" checked>
									Venta
								</label>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">	
							<div class="radio">
								<label class="radio-inline">
									<input type="radio" name="sellOrRent" id="sellOrRent2" value="Alquiler">
									Alquiler
								</label>
							</div>
						</div>
					</div>
				</div>  

				<!-- property -->
				<div id="propertyGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="property">Tipo de Propiedad <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<select class="form-control validate[required]" id="property" name="property" form="mainForm"></select>
						</div>
					</div>
				</div>

				<!-- year -->
				<div id="yearGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="year">Año</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control validate[custom[integer], min[1950], funcCall[currentYear]]" type="text" id="year" name="year" placeholder="Año de Construcción">
						</div>
					</div>
				</div>

				<!-- bedrooms -->
				<div id="bedroomsGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="bedrooms">Cuartos <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<select class="form-control validate[required]" id="bedrooms" name="bedrooms" form="mainForm"></select>
						</div>
					</div>
				</div>

				<!-- bathrooms -->
				<div id="bathroomsGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="bathrooms">Baños <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<select class="form-control validate[required]" id="bathrooms" name="bathrooms" form="mainForm"></select>
						</div>
					</div>
				</div>

				<!-- sqft -->
				<div id="sqftGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="sqft">SQFT</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control validate[custom[number], min[1]]" type="text" id="sqft" name="sqft" placeholder="Pies Cuadrados">
						</div>
					</div>
				</div>

				<!-- storie -->
				<div id="storieGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="storie">Piso</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<select class="form-control" id="storie" name="storie" form="mainForm"></select>
						</div>
					</div>
				</div>

				<!-- parking -->
				<div id="parkingGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="parking">Estacionamiento</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<select class="form-control" id="parking" name="parking" form="mainForm"></select>
						</div>
					</div>
				</div>

				<!-- price -->
				<div id="priceGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="price"><span id="sellOrRentLabel">Precio </span><i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control validate[required,custom[currencyUS]]" type="text" id="price" name="price" placeholder="Precio de Venta">
						</div>
					</div>
				</div>

				<!-- fees -->
				<div id="feesGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="fees">Cuota</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control validate[custom[currencyUS]]" type="text" id="fees" name="fees" placeholder="Cuota de Mantenimiento">
						</div>
					</div>
				</div>

				<!-- accessories -->
				<div id="accessoriesGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="accessories">Accesorios</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<input class="form-control" type="text" id="accessories" name="accessories" placeholder="Accesorios Incluidos">
						</div>
					</div>
				</div>

				<!-- description -->
				<div id="descriptionGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="description">Descripción <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<textarea class="form-control validate[required]" rows="3" id="description" name="description" placeholder="Descripción de la Propiedad"></textarea>
						</div>
					</div>
				</div>

			</div>
			<!-- END STEP 3 -->

			<!-- START STEP 4 -->
			<div class="" id="step4">
				<h2 class="StepTitle">Fotos</h2>	
				<div class="row smallpaddingtop">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="well well-sm">
							<div id="image_ThreeGroup">
								<div class="radio">
									<label>
										<input type="radio" name="extras" id="image_One" value="1" class="validate[required]" checked>
										<strong>1</strong> Foto - <strong>Gratis!</strong> <i class="icon-asterisk icon-spin"></i>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="extras" id="image_Three" value="5">
										Hasta <strong>5</strong> Fotos - <span style="text-decoration:line-through">$5.00</span><strong> Gratis!</strong>
									</label>
								</div>
							</div>  
							<hr>
							<div>
								<span class="text-center"><strong>Fotos Permitidas: </strong></span>
								<span id="photoUploads">0</span> de <strong><span id="photoTotal">1</span></strong>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8">
						<div class="well well-sm">
							<h4 class="nomargintop smallmarginbottom"><strong>Notas:</strong></h4>
							<ul>
								<li>Tamaño Máximo permitido (por foto) <strong>5MB</strong></li>
								<li>Solo se aceptan fotos de tipo: <strong>jpg, png, bmp, jpeg, tiff, gif</strong></li>
								<li>Presione <strong>"Buscar Imagen..."</strong> o ponga una foto <strong>(Drag and Drop)</strong> en el cuadro de abajo.</li>
							</ul>
						</div>
					</div>
				</div>
				<input id="file" type="file" name="file" />
				<input id="photo1" type="hidden" name="photo1" /> 
				<input id="photo2" type="hidden" name="photo2" /> 
				<input id="photo3" type="hidden" name="photo3" /> 
				<input id="photo4" type="hidden" name="photo4" /> 
				<input id="photo5" type="hidden" name="photo5" /> 
				
				<div id="dropbox" class="hidden-sm hidden-xs">
					<span class="message">Arrastre y Suelte Aquí sus Fotos<br /> o Presione "Buscar Imagen..." <br /><i>Para Incluir en su Clasificado</i></span>
				</div>

				<!-- confirmation dialog for deleting files -->
				<div id="dialog-confirm" class="text-center" title="Seguro Desea Borrar esta Foto?">
					Se Borrara Permanentemente.<br> Esta Seguro?
				</div>
			</div>
			<!-- END STEP 4 -->

			<!-- START STEP 5 -->
			<div class="" id="step5">
				<h2 class="StepTitle">Publicación</h2>	
				<!-- highlight -->
				<div id="highlightGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3 " for="highlight">Opciones</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="highlight" id="highlight" value="1">
									Destacar Clasificado - <strong>$10.00</strong>
								</label>
							</div>
						</div>
					</div>
					<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-10 col-md-10 col-sm-10">
						<div class="well well-small">
							Incluye un fondo de color diferente y un icono rotativo para que su clasificado
							resalte de los demás. Su clasificado será resaltado por <strong>30 dias!</strong> <a id="highlightExampleLink" href="/img/EjemploDestacado.png" target="_blank">Ejemplo</a>
						</div>
					</div>
				</div>
		
				<!-- terms -->
				<div id="termsGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="terms">Términos <i class="icon-asterisk icon-spin"></i></label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
							<div class="checkbox">
								<label>
									<input class="validate[required]" type="checkbox" name="terms" id="terms" value="1">
									He Leido y Acepto los <a href="./img/Terminos_de_Uso.pdf" target="_blank"><strong><font color="blue">Términos de Uso</font></strong></a>
								</label>
							</div>
						</div>
					</div>
				</div>

				<!-- Total Sale -->
				<div id="totalSaleGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="totalSale">Costo Total:</label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
							<input id="totalSale" name="totalSale" type="hidden" value="0">
							<strong><span id="totalSaleText" class="costSummary label label-info">Gratis!</span></strong>
						</div>
					</div>
				</div>
		
				<div id="processingDialog" title="Creando Su Clasificado!" class="text-center">
					<h2>Estamos Creando su Clasificado, por favor espere! <br>Estara listo en unos segundos!</h2><br>
					<i class="icon-refresh icon-spin icon-4x"></i>
				</div>
		
				<!-- submitPay -->
				<div id="submitPayGroup" class="">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="submitPay"></label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
							<h3 class="nomargintop">                                                
							<input 
								id="submitPay"
								type="submit" class="btn btn-clasinuevos btn-large"
								name="submitPaid"
								value="Pagar y Publicar"
								data-key="pk_live_fUoWWRn5JSkrbEvIgCEhNwBZ"
								data-currency="usd"
								data-name="ClasiNuevos.com"
								data-description="Clasificados con Fotos Extras y Destacado"
								data-panel-Label="Pagar"
								/> <i id="submitPaySpinner" class="hidden icon-refresh icon-spin icon-large"></i></h3>
							<br>
							<div class="image-center">
								<a href="http://www.stripe.com/about" target="_blank"><img class="img-responsive" src="./img/stripe-payments_bkg.png"></a>
							</div>
						</div>
					</div>
				</div>
		
				<!-- submitPublish -->
				<div id="submitPublishGroup">
					<div class="form-group">
						<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-3" for="submitPublish"></label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">                                                
							<input id="submitFree" class="btn btn-clasinuevos btn-large" type="submit" name="submitFree" value="Publicar">
						</div>
					</div>
				</div> 
				
				<!-- Submitting Information Error - Modal -->
				<div class="modal fade" id="formErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title"><font color="red"><span class="glyphicon glyphicon-exclamation-sign"></span>Error Procesando su Clasificado!</font></h4>
							</div>
							<div class="modal-body">
								<h4>Lo sentimos, pero hubo un error procesando su clasificado! Por favor, trate nuevamente!</h4>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				
				<!-- Submitting Information Processing - Modal -->
				<div class="modal fade" id="formProcessingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body text-center">
								<h4>Estamos Procesando su Clasificado!... Estará listo en breve!<br><br><i class="icon-refresh icon-spin icon-2x"></i></h4>
							</div>
							<div class="modal-footer">
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				
				<!-- Highlight Example - Modal -->
				<div class="modal fade" id="highlightExampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title"><font color="red">Ejemplo de Clasificado Destacado</font></h4>
							</div>
							<div class="modal-body text-center">
								<img class="img-responsive" src="./img/EjemploDestacado.png">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				
			</div>
			<!-- END STEP 5 -->
		</div>
		<!-- END WIZARD -->
	</form>
	<!-- END FORM -->

</div>

<!-- PICTURE DROP DROPBOX -->    
<script src="/js/dropbox.js"></script>

<!-- PUBLISH SCRIPT -->    
<script src="/js/publish.js"></script>