<!DOCTYPE html>
<html lang="en">
	<body>
        <h2>Email Sign-Ups</h2>
        <h5>By providing your email, you will be notified, before anybody else, when ToolSpin is ready.  We will keep you notified
        of the different phases of the project and will include you as a Beta tester!</h5>
        <table class="table table-striped">
        	<thead>
        		<th></th>
			    <th>Email Sign-Ups</th>
        	</thead>
        	<tbody>
				<tr>
				    <td><strong>Total</strong></td>
				    <td><strong><%= total %></strong></td>
				</tr>
  			</tbody>
        </table>
    </body>
</html>